@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --dark-background: #1F2937;
    --main-text-size: 48px;
    --main-text-weight: bold;
    --main-text-color: #F9FAF8;
    --secondary-text-size: 18px;
    --secondary-text-color: #E5E7EB;
    --header-logo-size: 18px;
    --header-logo-color: #F9FAF8;
    --cta-background: #3882F6;
    --info-text-size: 36px;
    --info-text-weight: bold;
    --info-text-color: #1F2937;
    --quote-background: #E5E7EB;
    --quote-text-size: 36px;
    --quote-text-style: light italic;
    --quote-text-color: #1F2937;
}

/*Global classes*/
.container{
   max-width: 990px;
   margin: 0 auto;
}

/*Header*/

    /*Navbar*/

    header{
        background-color: var(--dark-background);
    }
    
    nav{
        display: flex;
        justify-content: space-between;
        padding: 1rem 0rem;
    }
    
    .logo{
        font-size: var(--header-logo-size);
        color: var(--header-logo-color);
        text-decoration: none;
        font-weight: bold;
    }

    .navbar{
        list-style-type: none;
        display: flex;
    }

    .nav-item{
        margin-left: 1.5rem;
    }

    .nav-link{
        text-decoration: none;
        font-size: var(--secondary-text-size);
        color: var(--secondary-text-color);
    }

    /*End of navbar*/

/*End of header*/